.list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-focus-color: transparent;

}

.label{
    -fx-text-fill:black;
}